*{margin:0;,padding:0;}
input{
    outline: none;
}
.main{
    width: 800px;
    margin:0 auto;
}
.img {
    height:200px;
}
.btn,.img{
    text-align: center;
}
.btn input  {
    width: 100px;
    height: 30px;
    line-height: 30px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border:2px solid #444;
    background: #6cf;
    margin:0 30px;
    cursor: pointer;
}
.btn input:nth-child(2){
    background: #ccc;
}